<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">


  <title>About</title>
  <link rel="icon" href="./img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
  

</head>

<body>

     <div class="main-content">
     {{>header}}
      
      <img src="img/pic.jpg"  class="photo">
      </div>
      {{>footer}}
</body>
</html>