<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">


  <title>Error</title>
  <link rel="icon" href="./img/weather.png">

  <title>Hello this is static html5</title>
  <link rel="stylesheet" href="./css/styles.css">
  

</head>

<body>
    <div class="main-content">
    
     {{>header}}
     {{error}}

    </div>
    
     {{>footer}}

      
</body>
</html>