<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Help Error</title>
  <link rel="icon" href="./img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
  

</head>

<body>

    <div class="main-content">
    {{>header}}
     {{helpError}}

     </div>
     {{>footer}}

      
</body>
</html>